
  <div class="due_tasks_container">
  <h3 id="due_today_text">Tasks Due Today</h3>

    <% if @tasks.present? %>
      <% @tasks.each do |task| %>
        <li>
        <%= link_to "#{task.title}", category_task_path(task.category, task) %>
        </li>
      <% end %>
    <% else %>
      <p>You currently have no pending tasks.</p>
    <% end %>

  <div>
    <%= link_to 'Back', categories_path, :id => "back_to_category" %>
  </div>
</div>