# <h1>Tasks</h1>

# <div>
#   <% @tasks.each do |task| %>
#     <li>
#       <%= link_to task.title, category_task_path(@category, task) %>
#       (Due: <%= task.due_date.strftime('%B %d, %Y (%A)') %>)      
#       <%= button_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Confirm Delete?' }, :class=>"delete_task" %>
#     </li>
#   <% end %>
# </ul>

# <%= link_to 'New Task', new_category_task_path(@category) %>
