header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  box-shadow: wheat 0 0 4px 1px;
}

h3 {
  margin: 5px;
  padding: 5px;
}

img {
  padding-left: 7px;
  width: 80px;
  height: 80px;
}

body {
  margin: 0 auto;
  overflow: hidden;
  background-color: peru;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  padding: 2px;
  font-size: 8pt;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.login_video_containers {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 5px;
  margin: 20px 19px 0 15px;
  height: 78vh;
  align-items: flex-start;
}

.site_info_container,
.video_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11pt;
  background-color: burlywood;
  box-shadow: navajowhite 1px 1px 5px 1px;
  padding: 5px;
  height: 76%;
}

.site_info_container {
  padding: 5px 45px 5px 45px;
}

.home_options {
  font-size: 11pt;
  font-weight: bold;
}

.register_link,
.login_link {
  font-weight: bold;
  font-size: 9pt;
}

#login_button,
#register_button {
  margin-top: 10px;
  font-weight: bold;
  padding: 4px;
  border-radius: 4px;
  justify-self: center;
}

#category_button {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
  padding: 4px;
  border-radius: 4px;
}

.register_link {
  padding-top: 5px;
}

video {
  width: 95%;
  height: 80%;
}

.login_container,
.registration_container {
  margin: 50px auto;
  width: fit-content;
  border: 2px solid white;
  border-radius: 10px;
  padding: 7px;
  background-color: navajowhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11pt;
  box-shadow: wheat 0 0 4px 4px;
}

.registration_container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  width: 400px;
  height: 480px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.login_form_container,
.registration_form_container, 
.new_category_container,
.edit_category_container,
.tasks_in_categories {
  font-size: 10pt;
  font-weight: bold;
  border: 2px double white;
  border-radius: 10px;
  margin: 10px 20px 10px 20px;
  padding: 12px;
}

.new_category_container,
.edit_category_container,
.tasks_in_categories {
  margin: 30px;
}

.login_input,
#category_input {
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 15px;
  margin: 5px;
  padding: 5px;
  font-size: 10pt;
}

.registration_input {
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 12px;
  margin: 3px;
  padding: 3px;
  font-size: 10pt;
}

.register,
.login {
  cursor: pointer;
  font-size: 10pt;
  margin-top: 10pt;
}

#back_to_category,
.back_to_categories, 
.back_link_container,
.buttons_container {
  padding-left: 10px;
  text-decoration: none;
}

.register_name {
  display: flex;
  padding-bottom: 2px;
}

.hi_user {
  margin-top: 10px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11pt;
  font-weight: bold;
  color: yellow;
  background-color: rgb(139, 14, 14);
}

.logout {
  text-decoration: underline wheat;
  font-size: 10pt;
  font-weight: bold;
  color: white;
  transition: color 0.5s;
}

.logout:hover{
  color: cornflowerblue;
}

.categories_notepad_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 10px 5px;
  padding: 7px;
  text-align: center;
}

.categories_container,
.notepad_container {
  padding: 3px;
  font-size: 12pt;
  font-weight: bold;
}

.new_category_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

::placeholder {
  color: black;
}

.notepad_textarea {
  width: 85%;
  height: 250px;
  font-family: 'Cambria';
  font-size: 11pt;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  background-color: goldenrod;
}

.notepad_button {
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  background-color: darkslateblue;
  color: white;
  border-radius: 4px;
  padding: 4px;
  margin: 1px;
}

.categories_list {
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
  padding: 5px 5px 20px 5px;
  color: white;
  justify-content: center;
  align-items: center;
  height: 65%;
  overflow: auto;
}

.tasks_list {
  list-style: none;
  padding: 2px;
}

#category_name {
  font-size: 12pt;
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans";
  transition: color 0.5s;
}

#category_name:hover {
  color: red;
}

.category_actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: normal;
  font-size: 10pt;
}

#delete_category,
#edit_category,
#due_tasks {
  font-size: 10pt;
  color: rgb(163, 245, 108);
  padding-left: 1px;
  text-decoration: none;
}

#delete_category:hover,
#edit_category:hover,
#due_tasks:hover {
  text-decoration: underline;
}

#new_category {
  color: white;
  font-size: 10pt;
  transition: color 0.5s;
  background-color: darkcyan;
  padding: 4px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: normal;
  position: absolute;
  left: 18%;
}

#new_category:hover {
  color: black;
}

.category_input {
  padding-right: 10px;
}

.error_explanation {
  font-weight: normal;
  color:yellow;
}

.opening_message {
  text-align: center;
  font-style: italic;
  color: yellow;
  font-weight:lighter;
  font-size: 11pt;
}

.task_list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

#edit_task,
#delete_task {
  font-size: 10pt;
  padding-left: 1px;
  text-decoration: none; 
  display: flex;
}

#new_task {
  font-size: 10pt;
  padding-left: 1px;
  text-decoration: none;
  color: white;
  padding-right: 10px;
}

#title,
#description,
#due_date {
  margin: 0 auto;
  padding: 1px 0 1px 0;
}