<div class="new_category_container">
  <h3>New Category</h3>

  <%= render 'form' %>

  <div id="back_to_category">
    <%= link_to 'Back', @category.persisted? ? category_path(@category) : categories_path %>
  </div>
</div>