<h3>New Category</h3>

<%= render 'form' %>

<div class="back_link_container">
  <%= link_to 'Back', @category.persisted? ? category_path(@category) : categories_path, class: 'back_to_category' %>
</div>